/* 사진 1개 */
.category1 {
    width: 500px;
    float: left;
    padding: 20px;
}

/* 사진 2개 */
.category2 {
    width: 230px;
    float: left;
    padding: 20px;
}

/* 사진 3개 (수정필요) */
.category3 {
    width: 230px;
    float: left;
    padding: 20px;
}